# Doing Business Indicators in the Balkans and availability of killed workers
Datasets provided by [World Bank](datacatalog.worldbank.org)

## 1. Motivation
Since I am from Bulgaria and was digging through the datacatalog in the World Bank, I was curious how does it look from the WB's perspective to not only do business in Bulgaria, but the whole Balkan area. Besides general business factors, one is access to a skilled workforce.

### 1.1 Importing the libraries
Importing the general libraries, used for the analysis. If other libraries are required, they shall be imported further down.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.2 Loading the Datasets

In [2]:
db_data = pd.read_csv('./1_DC_Python_Data/DBData.csv')
db_data = db_data.drop(db_data.columns.values[-1], axis=1) # remove last columns as it is empty
edu_data = pd.read_csv('./1_DC_Python_Data/EdStatsData.csv')
edu_data = edu_data.drop(edu_data.columns.values[-1], axis=1)# remove last columns as it is empty

## 2. Data Cleanup
This section is going to focus on cleaning the datasets, and by cleaning I mean:
1. Making sure that for the chosen period the datasets have an equal number of samples - the process is to be explained here.
2. Other irregularities, found in the datasets.

#### 2.1 Let get our bearings first

In [3]:
db_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,Building quality control index (0-15),IC.DCP.BQCI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,2.5,2.5,2.5
1,Afghanistan,AFG,Cost – Women (% of income per capita),IC.REG.COST.PC.ZS.WOMEN,NaN,72.0,75.2,67.4,84.6,59.5,30.2,26.7,25.8,22.5,14.4,15.1,19.0,19.9,82.3
2,Afghanistan,AFG,Cost to build a warehouse (% of income per cap...,IC.DCP.COST,NaN,NaN,208.5,193.0,200.5,140.9,121.6,107.2,100.8,89.1,83.8,74.4,76.6,82.7,89.8
3,Afghanistan,AFG,Cost to enforce a contract (% of claim),IC.EC.COST,NaN,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
4,Afghanistan,AFG,Cost to export: Documentary compliance (USD),IC.EXP.COST.EXP.DOC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.0,344.0,344.0,344.0

In [5]:
db_data.info(), db_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15222 entries, 0 to 15221
Data columns (total 19 columns):
Country Name      15222 non-null object
Country Code      15222 non-null object
Indicator Name    15222 non-null object
Indicator Code    15222 non-null object
2003              1862 non-null float64
2004              2741 non-null float64
2005              5231 non-null float64
2006              5348 non-null float64
2007              5436 non-null float64
2008              5466 non-null float64
2009              6085 non-null float64
2010              6087 non-null float64
2011              6165 non-null float64
2012              6262 non-null float64
2013              8775 non-null float64
2014              10871 non-null float64
2015              11704 non-null float64
2016              11704 non-null float64
2017              11299 non-null float64
dtypes: float64(15), object(4)
memory usage: 2.2+ MB

(None, (15222, 19))

So the *Doing Bussiness* dataset containes 19 columns in total. What I am interested in is the years the dataset covers - 2003 until 2017. We have to mirror that in the education dataset.

In [4]:
edu_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
edu_data.info(), edu_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 69 columns):
Country Name      886930 non-null object
Country Code      886930 non-null object
Indicator Name    886930 non-null object
Indicator Code    886930 non-null object
1970              72288 non-null float64
1971              35537 non-null float64
1972              35619 non-null float64
1973              35545 non-null float64
1974              35730 non-null float64
1975              87306 non-null float64
1976              37483 non-null float64
1977              37574 non-null float64
1978              37576 non-null float64
1979              36809 non-null float64
1980              89122 non-null float64
1981              38777 non-null float64
1982              37511 non-null float64
1983              38460 non-null float64
1984              38606 non-null float64
1985              90296 non-null float64
1986              39372 non-null float64
1987              38641 non-null float64
1988              38552 non-null float64
1989              37540 non-null float64
1990              124405 non-null float64
1991              74437 non-null float64
1992              75543 non-null float64
1993              75793 non-null float64
1994              77462 non-null float64
1995              131361 non-null float64
1996              76807 non-null float64
1997              73453 non-null float64
1998              84914 non-null float64
1999              118839 non-null float64
2000              176676 non-null float64
2001              123509 non-null float64
2002              124205 non-null float64
2003              130363 non-null float64
2004              128814 non-null float64
2005              184108 non-null float64
2006              140312 non-null float64
2007              137272 non-null float64
2008              134387 non-null float64
2009              142108 non-null float64
2010              242442 non-null float64
2011              146012 non-null float64
2012              147264 non-null float64
2013              137509 non-null float64
2014              113789 non-null float64
2015              131058 non-null float64
2016              16460 non-null float64
2017              143 non-null float64
2020              51436 non-null float64
2025              51436 non-null float64
2030              51436 non-null float64
2035              51436 non-null float64
2040              51436 non-null float64
2045              51436 non-null float64
2050              51436 non-null float64
2055              51436 non-null float64
2060              51436 non-null float64
2065              51436 non-null float64
2070              51436 non-null float64
2075              51436 non-null float64
2080              51436 non-null float64
2085              51436 non-null float64
2090              51436 non-null float64
2095              51436 non-null float64
2100              51436 non-null float64
dtypes: float64(65), object(4)
memory usage: 466.9+ MB

(None, (886930, 69))

Wow, so the education data is going until 2100 and contains 69 columns in total. So lets create a new dataset *Education*  to the same time frame - 2003 until 2017.

In [28]:
edu_df = edu_data.copy() # copy the dataset
columns_to_delete = np.concatenate((edu_df.columns.values[4:37], edu_df.columns.values[52:]))
edu_df = edu_df.drop(columns_to_delete, axis=1)

#### 2.2 Handling the missing values
As it can be seen from the samples from the datasets there is a lot of missing data. The plan is to cluster the countries by indicators and infer the missing data from there. But first let's get the mean for each indicator for the period

In [38]:
db_data['indicator_mean'] = db_data[db_data.columns.values[4:]].mean(axis=1)

Now, what I am interested in is for each country to get each indicator mean in a different column. This way I can use KMeans on the data to get which countries are simillar to each other and get the missing data from there.

In [47]:
db_pivot = db_data.pivot(index='Country Code', columns='Indicator Code', values='indicator_mean')