# Doing Business Indicators in the Balkans and availability of skilled workers
Datasets provided by [World Bank](datacatalog.worldbank.org)

## 1. Motivation
Since I am from Bulgaria and was digging through the datacatalog in the World Bank, I was curious how does it look from the WB's perspective to not only do business in Bulgaria, but the whole Balkan area. Besides general business factors, one is access to a skilled workforce.

### 1.1 Importing the libraries
Importing the general libraries, used for the analysis. If other libraries are required, they shall be imported further down.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.2 Loading the Datasets

In [2]:
db_data = pd.read_csv('./1_DC_Python_Data/DBData.csv')
db_data = db_data.drop(db_data.columns.values[-1], axis=1) # remove last columns as it is empty
edu_data = pd.read_csv('./1_DC_Python_Data/EdStatsData.csv')
edu_data = edu_data.drop(edu_data.columns.values[-1], axis=1)# remove last columns as it is empty

## 2. Data Cleanup
This section is going to focus on cleaning the datasets, and by cleaning I mean:
1. Making sure that for the chosen period the datasets have an equal number of samples - the process is to be explained here.
2. Other irregularities, found in the datasets.

#### 2.1 Let get our bearings first

In [3]:
db_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,Building quality control index (0-15),IC.DCP.BQCI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,2.5,2.5,2.5
1,Afghanistan,AFG,Cost – Women (% of income per capita),IC.REG.COST.PC.ZS.WOMEN,NaN,72.0,75.2,67.4,84.6,59.5,30.2,26.7,25.8,22.5,14.4,15.1,19.0,19.9,82.3
2,Afghanistan,AFG,Cost to build a warehouse (% of income per cap...,IC.DCP.COST,NaN,NaN,208.5,193.0,200.5,140.9,121.6,107.2,100.8,89.1,83.8,74.4,76.6,82.7,89.8
3,Afghanistan,AFG,Cost to enforce a contract (% of claim),IC.EC.COST,NaN,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
4,Afghanistan,AFG,Cost to export: Documentary compliance (USD),IC.EXP.COST.EXP.DOC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.0,344.0,344.0,344.0

In [4]:
db_data.info(), db_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15222 entries, 0 to 15221
Data columns (total 19 columns):
Country Name      15222 non-null object
Country Code      15222 non-null object
Indicator Name    15222 non-null object
Indicator Code    15222 non-null object
2003              1862 non-null float64
2004              2741 non-null float64
2005              5231 non-null float64
2006              5348 non-null float64
2007              5436 non-null float64
2008              5466 non-null float64
2009              6085 non-null float64
2010              6087 non-null float64
2011              6165 non-null float64
2012              6262 non-null float64
2013              8775 non-null float64
2014              10871 non-null float64
2015              11704 non-null float64
2016              11704 non-null float64
2017              11299 non-null float64
dtypes: float64(15), object(4)
memory usage: 2.2+ MB

(None, (15222, 19))

So the *Doing Bussiness* dataset containes 19 columns in total. What I am interested in is the years the dataset covers - 2003 until 2017. We have to mirror that in the education dataset.

In [5]:
edu_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
edu_data.info(), edu_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 69 columns):
Country Name      886930 non-null object
Country Code      886930 non-null object
Indicator Name    886930 non-null object
Indicator Code    886930 non-null object
1970              72288 non-null float64
1971              35537 non-null float64
1972              35619 non-null float64
1973              35545 non-null float64
1974              35730 non-null float64
1975              87306 non-null float64
1976              37483 non-null float64
1977              37574 non-null float64
1978              37576 non-null float64
1979              36809 non-null float64
1980              89122 non-null float64
1981              38777 non-null float64
1982              37511 non-null float64
1983              38460 non-null float64
1984              38606 non-null float64
1985              90296 non-null float64
1986              39372 non-null float64
1987              38641 non-null float64
1988              38552 non-null float64
1989              37540 non-null float64
1990              124405 non-null float64
1991              74437 non-null float64
1992              75543 non-null float64
1993              75793 non-null float64
1994              77462 non-null float64
1995              131361 non-null float64
1996              76807 non-null float64
1997              73453 non-null float64
1998              84914 non-null float64
1999              118839 non-null float64
2000              176676 non-null float64
2001              123509 non-null float64
2002              124205 non-null float64
2003              130363 non-null float64
2004              128814 non-null float64
2005              184108 non-null float64
2006              140312 non-null float64
2007              137272 non-null float64
2008              134387 non-null float64
2009              142108 non-null float64
2010              242442 non-null float64
2011              146012 non-null float64
2012              147264 non-null float64
2013              137509 non-null float64
2014              113789 non-null float64
2015              131058 non-null float64
2016              16460 non-null float64
2017              143 non-null float64
2020              51436 non-null float64
2025              51436 non-null float64
2030              51436 non-null float64
2035              51436 non-null float64
2040              51436 non-null float64
2045              51436 non-null float64
2050              51436 non-null float64
2055              51436 non-null float64
2060              51436 non-null float64
2065              51436 non-null float64
2070              51436 non-null float64
2075              51436 non-null float64
2080              51436 non-null float64
2085              51436 non-null float64
2090              51436 non-null float64
2095              51436 non-null float64
2100              51436 non-null float64
dtypes: float64(65), object(4)
memory usage: 466.9+ MB

(None, (886930, 69))

Wow, so the education data is going until 2100 and contains 69 columns in total. So lets create a new dataset *Education*  to the same time frame - 2003 until 2017.

In [7]:
edu_df = edu_data.copy() # copy the dataset
columns_to_delete = np.concatenate((edu_df.columns.values[4:37], edu_df.columns.values[52:]))
edu_df = edu_df.drop(columns_to_delete, axis=1)

Two interesting question that come to mind are:
1. *Do different indicators start at the same year?*
    A way to do that is just count the missing values by columns for each indicator and see if they match to the number of contries 
2. *Are all the indicators recorded for all the countries?*
    Here I would check whether the number of indicators for each country is consistent.

In [8]:
# 1
def get_indicator_start_year(df):
    '''
    Takes as input a dataframe, extracts the indicators and countries and returns a new dataframe,
    which maps each indicator to a start year.
    '''
    indicators = df['Indicator Code'].unique()
    num_indicators = np.count_nonzero(indicators)
    countries = db_data['Country Code'].unique()
    num_countries = np.count_nonzero(countries)
    
    # initiate the new dataframe
    new_df = pd.DataFrame(data={'Indicator': indicators, 'Start_Year': np.zeros(num_indicators)})
    
    # Get the Start Year
    # not the most elegant way...
    for indicator in indicators:
        start_year = 0
        indicator_series = df[df['Indicator Code'] == indicator].count()
        for year in range(2003, 2018):
            if indicator_series[str(year)] != 0:
                new_df.loc[new_df['Indicator'] == indicator, 'Start_Year'] = int(year)
                break
    
    return new_df

In [9]:
indicator_db_year_df = get_indicator_start_year(db_data)

In [10]:
indicator_edu_year_df = get_indicator_start_year(edu_df) # slow poke...

Good. Now we have for both datasets which indicator starts when. However a question comes to mind - are all the indicators used? We could simply find out if the start year remained at 0.

In [11]:
indicator_db_year_df[indicator_db_year_df['Start_Year'] == 0]['Indicator'].count(), indicator_edu_year_df[indicator_edu_year_df['Start_Year'] == 0]['Indicator'].count()

(3, 12)

So now we know that 3 indicators from the *Doing Business* Dataset and 12 indicators from the *Education* dataset have no data in them at all. On the other hand question *1* we can safely answer with just looking at the desription.

In [12]:
indicator_db_year_df.describe()

        Start_Year
count    59.000000
mean   1906.288136
std     445.032585
min       0.000000
25%    2003.000000
50%    2005.000000
75%    2013.000000
max    2015.000000

In [13]:
indicator_edu_year_df.describe()

        Start_Year
count  3665.000000
mean   1999.740518
std     114.695865
min       0.000000
25%    2003.000000
50%    2005.000000
75%    2010.000000
max    2017.000000

Let's drop the rows that we don't need.

In [14]:
nill_indicator_db = list(indicator_db_year_df[indicator_db_year_df['Start_Year'] == 0]['Indicator'])
nill_indicator_edu = list(indicator_edu_year_df[indicator_edu_year_df['Start_Year'] == 0]['Indicator'])

In [15]:
db_df = db_data.copy()

In [16]:
def remove_empty_indicators(df, indicators):
    '''
    Takes in a dataframe and a list of indicators and removes them.
    '''
    for indicator in indicators:
        df = df.drop(df[df['Indicator Code'] == indicator].index)
        
    return df

In [17]:
db_df = remove_empty_indicators(db_df, nill_indicator_db)
edu_df = remove_empty_indicators(edu_df, nill_indicator_edu)

So what about *2.Are all the indicators recorded for all the countries?*

In [18]:
# 2
def get_indicator_number_of_countries(df):
    '''
    Takes as input a dataframe and returns the list of indicators,
    that have less than 'num_countries'
    '''
    indicators = list(df['Indicator Code'].unique())
    num_countries = np.count_nonzero(df['Country Code'].unique())
    less_country_indicators = []
    
    for indicator in indicators:
        indicator_countries = df[df['Indicator Code'] == indicator].count()['Country Code']
        
        if indicator_countries != num_countries:
            less_country_indicators.append(indicator)
            
    
    return less_country_indicators

In [19]:
faulty_indicators_db = get_indicator_number_of_countries(db_df)
faulty_indicators_edu = get_indicator_number_of_countries(edu_df)

In [20]:
faulty_indicators_db, faulty_indicators_edu

([], [])

Displaying the arrays shows us that they are both empty, which means that all countries have all indicators.

#### 2.2 Handling the missing values
As it can be seen from the samples from the datasets there is a lot of missing data. My first intuituion was to look at what are the global trends and/or seasonality. However since the data is aggregated for each country for each year the seasonality doesn't make much sense. Of course there might be 5-year or decade cycles, but that doesn't help with series that are completely missing. That's why my idea is based on similarity - infer the missing data from countries that are similar. 

How do we find the missing data for each indicator and each country?
1. Linear Regression for each country and each indicator.
2. Clustering Algorithm

##### **1. Linear Regression on each country for each indicator.**
Simple as that - run *linreg* for each row individualy. Now for the *Doing Business* dataset this might be fine, but for the education dataset that won't be feasible as it will take a lot of computational time.
I might do it for the sake of it anyway.

##### **2. A Clustering Algorithm. **
The most important part is looking for a clustering algorithm, that can group the countries and later on we can infer the missing values. Of course some discrepencies can be expected.
So what options do we have:

1. Geo clustering - Cluster countries based on the relative distances between countries - this could be feasible, as it will go straight to the initial problem I have defined for myself. Also I could just infer the data from the neighbors. A question that comes to mind is what happens when all of the countries in the predefined region have empty values? Do I truncate the whole series to start from the earliest date? Also that might not be feasible as one would imagine - two neighboring countries may have different situations (i.e. North and South Koreas). In addition how do I define distances? Is it capital-to-capital distances or based on the numbers of neighboring countries

2. K-Means - Not really suitable for time-series, but let's say we take the calculate the mean for each country and represent it countries vs mean indicators. Then we will have a *n_countries* vs *m_mean_indicators*. From then on either we choose the indicators are most representative of a country, or we apply some sort of a dimensionality reduction (PCA? t-SNE?). Then perform K-means on that.

3. Dynamic Time Warping clustering of some sort?

** Further work: **
Show the corelation between each indicator for a country that has the full set of data - correlogram.

#### 2.2.1 Creating the country vs mean indicator matrix.

In [38]:
def country_indicator_mat(df):
    '''
    Takes as input a pandas dataframe and returns a dataframe that has country codes for indices, while columns are indicators.
    '''
    df_new = df.copy() # copy just to be sure
    df_new['ind_mean'] = df_new.iloc[:,4:].mean(axis=1)
    return df_new.pivot(index='Country Code', columns='Indicator Code', values='ind_mean')

In [39]:
db_ind_mat = country_indicator_mat(db_df)
edu_ind_mat = country_indicator_mat(edu_df)

Good. Not let's clean some more. 

Unfortunatelly I suspect that some countries are lacking data at all. That means that the 'mean_indicator' value will still be N/A. 
A method for cleaning the data would be to get the shape of the df and remove the countries for which all indicators are empty.

In [59]:
def remove_null_countries(df):
    '''
    Takes as an input a dataframe, removes the countries and indicators that are empty throughout and returns the 'clean' dataframe.
    '''
    cnts, ind = df.shape
    
    is_nulls = df.isnull().sum(axis=1)