# Oil Price Prediction with Recurrent Neural Networks
Try to predict the prices of brent, based on the daily historical price with the help of the *Recurrent Neural Networks*.

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('./datasets/Oil_Prices/brent-daily_csv.csv')

In [8]:
df.head()

         Date  Price
0  1987-05-20  18.63
1  1987-05-21  18.45
2  1987-05-22  18.55
3  1987-05-25  18.60
4  1987-05-26  18.63

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8116 entries, 0 to 8115
Data columns (total 2 columns):
Date     8116 non-null object
Price    8116 non-null float64
dtypes: float64(1), object(1)
memory usage: 126.9+ KB

**Plan of Attack**
1. Explore the data and drive to derive features from it.
2. Make a model.