In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./datasets/Oil_Prices/brent-daily_csv.csv')

In [6]:
df.tail()

            Date  Price
8111  2019-05-07  70.98
8112  2019-05-08  71.09
8113  2019-05-09  70.61
8114  2019-05-10  71.63
8115  2019-05-13  72.35

In [8]:
df.head()

         Date  Price
0  1987-05-20  18.63
1  1987-05-21  18.45
2  1987-05-22  18.55
3  1987-05-25  18.60
4  1987-05-26  18.63